@model IEnumerable<BlogProjekt.Models.Tags>

@{
    
    ViewBag.Title = "ListaTagow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListaTagow</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tag_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tagName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataStworzenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataAktualizacji)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tag_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tagName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataStworzenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataAktualizacji)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
