@model IEnumerable<BlogProjekt.Models.Post>
@using BlogProjekt.KlasyPomocnicze;
@{
    ViewBag.Title = "PostyFollowedBlogs";
}



<div class="container" style="height: 100%; width: 100%">

    <div class="row">
        <div class="col">

        </div>

        <div class="col-10">
            @if (Model.Count() > 0)
            {
                foreach (var post in Model)
                {<text>
                        <div class="card mb-3 postClickHandler" data-post-id="@post.Post_ID">

                            <div class="card-header ">
                                @{
                                    int alt_naglowek_dl = 10;
                                }
                                <h2 class="">
                                    <a href=@Url.Action("WyswietlPost", "Main", new { id = post.Post_ID })>
                                        @(post.title.IsEmpty() ? post.text_content.Substring(0, alt_naglowek_dl) + "..." : post.title)
                                    </a> - <a href=@Url.Action("WyswietlBlog", "Main", new { id = post.Blogs.Blog_ID})>
                                        @post.Blogs.nazwa
                                    </a>
                                </h2>
                            </div>

                            <div style="max-height: 320px;overflow: hidden;">
                                @if (!post.img_route.Equals("htttp?"))
                                {
                                    <img class="img-fluid card-img-top" id="img-details" src="@post.img_route" alt="Błąd wczytywania obrazka" />
                                }
                            </div>

                            <div class="card-body">
                                <p class="card-text">
                                    @{
                                        int limit_dlugosci_podgladu = 15;
                                    }
                                    @(post.text_content.Length > limit_dlugosci_podgladu + 1 ? post.text_content.Substring(0, limit_dlugosci_podgladu) + "..." : post.text_content)
                                </p>

                                <p class="card-text">
                                    <small class="text-muted">
                                        Opublikowane dnia: @post.dataStworzenia.ToString("dd.MM.yyyyr.")
                                    </small>
                                </p>
                            </div>

                            <div class="card-footer">

                                <div class="row">
                                    <div class="col-8">
                                        @foreach (var tag in post.Tags)
                                        {
                                            <span class="badge badge-pill badge-primary">#@tag.tagName</span>
                                        }
                                    </div>
                                    <div class="col-4">
                                        <div class="float-right">
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                </text>}
        }


        </div>
        <div class="col">

        </div>
    </div>
    <br />

</div>

    <script>
    $(function () {
        //Dodaje nam obsługe kliknięcia diva
        $('body').on("click", ".postClickHandler", function () {
            // var id = $(this).data("post-id");
            //  var targetURL = '/Main/WyswietlPost/' + id.toString();
            //  alert(id);
            //  $(document.body).load(targetURL);
            var href = '@Url.Action("renderPostView","Main")';
            var id1 = $(this).data("post-id");
            var args = { id: $(this).data("post-id") };
            $.ajax({
                type: "POST",
                url: '/Main/renderPostView', // url of your action
                data: args, // parameters if available
                success: function (data) {

                    window.location.href = '@Url.Action("WyswietlPost","Main")/' + data.id1;
                },
                error: function (httpRequest, textStatus, errorThrown) {
                    alert("Error");
                }

            })

        })
        //Blogkuje kliknięcie diva, gdy klikamy na przycisk
        $(".postClickHandler a").click(function (e) {
            e.stopPropagation();
        })
    })


    </script>
