@model BlogProjekt.Models.Post
@using BlogProjekt.KlasyPomocnicze
@{
    //ViewBag.BlogID = Model.BlogsBlog_ID;
    ViewBag.Title = "StworzPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">

            <div id="errorMessage">

            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <h1>Utwórz post</h1>
                <div class="form-group">
                    <p>
                        <label>Tytuł postu</label>
                        <br />
                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", id = "postName"} })
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label>Treść</label>
                        <br />
                        @Html.EditorFor(model => model.text_content, new { htmlAttributes = new { @class = "form-control", @size = 200, id = "postContent" } })
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label>Obrazek</label>
                        <br />
                        @Html.EditorFor(model => model.img_route, new { htmlAttributes = new { @class = "form-control", id = "postImgRoute" } })
                    </p>
                </div>

                <div class="form-group">
                    <label>Tagi postu</label>
                    <br />
                    <select id="tags1" class="selectpicker" name="TagsIds" multiple data-live-search="true" title="Dodaj tagi postu">
                        @foreach (var tag in ObsługaBazyDanych.zwrocListeTag())
                        {
                            <option value=@tag.Tag_ID>@tag.tagName</option>
                        }
                    </select>
                    <div style="float:right"><span id="toggleAddTag">Chcesz dodać nowy tag? Kliknij!</span></div>
                </div>


                <p>
                    <input id="submitButton" type="submit" value="Dodaj post" class="btn btn-success" />
                </p>
            }

        </div>

        <div class="col">
            <div id="addTagForm">
                <p><strong>Wpisz nazwe tagu</strong></p>
                <input class="form-control" type="text" id="label" name="TagName" value="" />
                <button type="button" id="addTag" class="btn btn-success" style="margin-top:5px">Dodaj!</button>
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        $('#addTagForm').hide();
        $('.selectpicker').selectpicker('render');

        $('#addTag').click(function () {

            if ($('#label').val() == '') {
                var errorText = $('<div class="error alert alert-danger" role="alert">Tag nie może być pusty!!</div>');
                $("#errorMessage").append(errorText);
                return false;
            }
            $("#errorMessage").html('');
            $('#addTagForm').hide();
            var link = '@Url.Action("stworztagasync","Main")';
            var args = {
                tagName: $('#label').val()
            };

            $('#label').val('');
            $.ajax({
                type: "GET",
                url: link, // url of your action
                data: args, // parameters if available
                dataType: "json",
                success: function (data) {
                    $('.selectpicker').append(new Option(data.nazwa, data.id));
                    $('.selectpicker').selectpicker('refresh');
                },
                error: function (httpRequest, textStatus, errorThrown) {
                    alert("Error: " + textStatus + " " + errorThrown + " " + httpRequest);
                }
            });

        });

        $("#submitButton").click(function (e) {
            var isCorrect = true;

            $("#errorMessage").html('');

            if ($("#postName").val() == '') {
                var errorText = $('<div class="error alert alert-danger" role="alert">Pole nazwy nie może być puste!!</div>');
                $("#errorMessage").append(errorText);
                isCorrect = false;
            }

            if ($("#postContent").val() == '') {
                var errorText = $('<div class="error alert alert-danger" role="alert">Treść postu nie może być pusta!!</div>');
                $("#errorMessage").append(errorText);
                isCorrect = false;
            }

            if (!isCorrect) {
                return false;
            }

        });

        $("#toggleAddTag").click(function () {
            $('#addTagForm').toggle('slow');
        })
    });

</script>