@model BlogProjekt.Models.Blogs
@using BlogProjekt.KlasyPomocnicze;

@{
    ViewBag.BlogID = Model.Blog_ID;
    ViewBag.Title = "WyswietlBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="height: 100%; width: 100%">
    

    <div class="row">
        <div class="col">
            <div>
                <dl class="dl-horizontal">
                    <div class="col" style="display:flex">
                        <div id="blog_@Model.Blog_ID" style="margin-right:2px">
                            @Html.Partial("blogFollowButton", Model)
                        </div>
                        <span class="btn btn-dark">
                            <div id="com_@Model.Blog_ID">
                                <span>@Model.followCount</span>
                            </div>
                        </span>

                    </div>
            </div>
        </div>

        <div class="col-10">
            @if (Model.Post.Count > 0)
            {
                foreach (var post in Model.Post.OrderByDescending(x=>x.ifTop))
                {<text>
                        <div class="card mb-3 postClickHandler" data-post-id="@post.Post_ID">

                            <div class="card-header ">
                                @{
                                    int alt_naglowek_dl = 10;
                                }
                                <h2 class="">
                                    <a href=@Url.Action("WyswietlPost", "Main", new { id = post.Post_ID })>
                                        @(post.title.IsEmpty() ? post.text_content.Substring(0, alt_naglowek_dl) + "..." : post.title)
                                    </a>
                                    @if (post.ifTop)
                                    {
                                        <span class="badge badge-secondary">!</span>
                                    }
                                </h2>
                            </div>

                            <div style="max-height: 320px;overflow: hidden;">
                                @if (!post.img_route.Equals("htttp?"))
                                {
                                    <img class="img-fluid card-img-top" id="img-details" src="@post.img_route" alt="Błąd wczytywania obrazka" />
                                }
                            </div>

                            <div class="card-body">
                                <p class="card-text">
                                    @{
                                        int limit_dlugosci_podgladu = 15;
                                    }
                                    @(post.text_content.Length > limit_dlugosci_podgladu + 1 ? post.text_content.Substring(0, limit_dlugosci_podgladu) + "..." : post.text_content)
                                </p>

                                <p class="card-text">
                                    <small class="text-muted">
                                        Opublikowane dnia: @post.dataStworzenia.ToString("dd.MM.yyyyr.")
                                    </small>
                                </p>
                            </div>

                            <div class="card-footer">

                                <div class="row">
                                    <div class="col-8">
                                        @foreach (var tag in post.Tags)
                                        {
                                            <span class="badge badge-pill badge-primary">#@tag.tagName</span>
                                        }
                                    </div>
                                    <div class="col-4">
                                        <div class="float-right">
                                            @if (Request.IsAuthenticated && (User.Identity.Name == Model.Users.username || ObsługaBazyDanych.sprawdzCzyUzytkownikJestAdminem(User.Identity.Name)))
                                            {<text>
                                                    <a href=@Url.Action("EdytujPost", "Main", new {id = post.Post_ID}) event.stopPropagation();>
                                                        <button type="button" class="btn btn-primary">Edytuj</button>
                                                    </a>
                                                    <a onclick="return confirm('Czy na pewno chcesz usunąć ten post?');" href=@Url.Action("UsunPost", "Main", new { id = post.Post_ID, idBlog = Model.Blog_ID }) event.stopPropagation();>
                                                        <button type="button" class="btn btn-primary">Usuń</button>
                                                    </a>
                                            </text>}
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                </text>}
        }


        </div>
        <div class="col">
            @if (Request.IsAuthenticated && (User.Identity.Name == Model.Users.username))
            {
                <a href=@Url.Action("StworzPost","Main", new {id = Model.Blog_ID })>
                    <button type="button" class="btn btn-dark">Nowy post</button>
                </a>
            }
        </div>
    </div>
    <br />

</div>



<script>
    $(function () {
        $('body').on("click", ".upFollowButton", function () {
            var $button = $(this);
            var href = '@Url.Action("blogFollow", "Main")';
            var args = {
                userName: $(this).data('user-name'),
                blogID: $(this).data('blog-id')
            };

            $.ajax({
                type: "GET",
                url: href, // url of your action
                data: args, // parameters if available
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var string = "com_" + data.id;
                    $("#" + string).html(data.followCount);

                    var string1 = "blog_" + data.id;
                    $("#" + string1).load('@(Url.Action("blogPartialView", "Main",null, Request.Url.Scheme))?blogId=' + data.id);


                },
                error: function (httpRequest, textStatus, errorThrown) {
                    alert("Error");
                }
            });
        });

        $('body').on("click", ".downFollowButton", function () {
            var $button = $(this);
            var href = '@Url.Action("blogUnFollow", "Main")';
            var args = {
                userName: $(this).data('user-name'),
                blogID: $(this).data('blog-id')
            };

            $.ajax({
                type: "GET",
                url: href, // url of your action
                data: args, // parameters if available
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var string = "com_" + data.id;
                    $("#" + string).html(data.followCount);

                    var string1 = "blog_" + data.id;
                    $("#" + string1).load('@(Url.Action("blogPartialView", "Main",null, Request.Url.Scheme))?blogId=' + data.id);


                },
                error: function (httpRequest, textStatus, errorThrown) {
                    alert("Error");
                }
            });
        });
        //Dodaje nam obsługe kliknięcia diva
        $('body').on("click", ".postClickHandler", function () {
            // var id = $(this).data("post-id");
            //  var targetURL = '/Main/WyswietlPost/' + id.toString();
            //  alert(id);
            //  $(document.body).load(targetURL);
            var href = '@Url.Action("renderPostView","Main")';
            var id1 = $(this).data("post-id");
            var args = { id: $(this).data("post-id") };
            $.ajax({
                type: "POST",
                url: '/Main/renderPostView', // url of your action
                data: args, // parameters if available
                success: function (data) {
 
                    window.location.href = '@Url.Action("WyswietlPost","Main")/' + data.id1;
                },
                error: function (httpRequest, textStatus, errorThrown) {
                    alert("Error");
                }

            })

        })
        //Blogkuje kliknięcie diva, gdy klikamy na przycisk
        $(".postClickHandler a").click(function (e) {
            e.stopPropagation();
        })
    })


</script>