@model BlogProjekt.Models.Post
@using BlogProjekt.KlasyPomocnicze;
@{
    ViewBag.BlogID = Model.BlogsBlog_ID;
    ViewBag.Title = "WyswietlPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-10">

            <div class="card">


                <div class="card-header" , style="background-color: #343a40; color: #ffffff">
                    <span style="font-weight: bold">@Model.title </span>
                    <div style="font-size: small; float:right">
                        Dodany: @Model.dataStworzenia.ToString("dd.MM.yyyyr.")
                    </div>
                </div>

                <div class="text-center">
                    <img src="@Model.img_route" alt="Alternate Text" style=" width:90%;margin-bottom:20px;"/>
                </div>

                <div class="card-body">
                    @Model.text_content
                </div>

                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-11">
                        @foreach (var tag in Model.Tags)
                        {
                            <span class="badge badge-pill badge-primary">#@tag.tagName</span>
                        }
                    </div>

                    <div class="col">

                    </div>

                </div>

                </br>

            </div>

            <br />

            <div class="container">
                <h2>Komentarze: </h2>
                @if (Request.IsAuthenticated)
                {
                    <a>zaladuj tu forma do komentow</a>
                    <!--
                    <div class="form-group">
                        <p>
                            <%= form.text_area :content, :class => "form-control", :size => 150 %>
                        </p>
                    </div>


                    <p style="align-items: right; float: right">
                        <%= form.submit "Dodaj komentarz", :class => "btn btn-warning" %>
                    </p>
                    -->
                }
                else
                {
                    <a href=@Url.Action("LogIn","Authorization")>
                        Zaloguj się aby dodać komentarz
                    </a>
                }
            </div>

            </br>
            </br>
            </br>

            <div id="#comments">
                @if (Model.Comments.Count > 0)
                {
                    foreach (var comment in Model.Comments)
                    {
                        <text>
                            <div class="card">
                                <div class="card-header">
                                    <small>Dodany przez: @comment.Post.Blogs.Users.username</small>

                                    <div class="float-right row">
                                        <div class="col">
                                            <div style="float:left">
                                                @if (Request.IsAuthenticated && ((comment.User_ID == ObsługaBazyDanych.zwrocIdUzytkownikaPoUsername(User.Identity.Name)) || ObsługaBazyDanych.sprawdzCzyUzytkownikJestAdminem(User.Identity.Name)))
                                                {<text>
                                                        <a style="text-decoration: none;color: inherit;" onclick="return confirm('Czy na pewno chcesz usunąć ten komentarz?');" href=@Url.Action("UsunKomentarz", "Main", new { id = comment.Comment_ID, idPostu = comment.Post.Post_ID})>
                                                            <i class="fas fa-trash-alt" style="color:red"></i>
                                                        </a>
                                                </text>}
                                            </div>

                                        </div>

                                        <div class="col" style="display:flex">
                                            <div id="button_@comment.Comment_ID" style="margin-right:2px">
                                                @Html.Partial("commentsPartial", comment)
                                            </div>
                                            <div id="com_@comment.Comment_ID">
                                                <span>@comment.upVotes</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="card-body">
                                    <p>
                                        @comment.content
                                    </p>
                                </div>
                            </div>

                        </text>
                    }
                }
            </div>



        </div>

        <div class="col-sm-1">

        </div>



    </div>

</div>


<!--do usuniecia-->
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <a href=@Url.Action("StworzKomentarz","Main", new {id = Model.Post_ID })>Dodaj Komentarz</a>
        }
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    </p>


<script>
    $(function () {
        $('body').on("click", ".upVoteButton", function () {
            var $button = $(this);
            var href = '@Url.Action("komentarzUpVote","Main")';
            var args = {
                userName: $(this).data('user-name'),
                commentID: $(this).data('comment-id')
            };

            $.ajax({
                type: "GET",
                url: href, // url of your action
                data: args, // parameters if available
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var string = "com_" + data.id;
                    $("#" + string).html(data.upVotes);

                    var string1 = "button_" + data.id;
                    $("#" + string1).load('@(Url.Action("commentPartialView", "Main",null, Request.Url.Scheme))?commentId=' + data.id);


                },
                error: function (httpRequest, textStatus, errorThrown) {
                    alert("Error");
                }
            });
        });

        $('body').on("click", ".downVoteButton", function () {
            var $button = $(this);
            var href = '@Url.Action("komentarzDownVote","Main")';
            var args = {
                userName: $(this).data('user-name'),
                commentID: $(this).data('comment-id')
            };

            $.ajax({
                type: "GET",
                url: href, // url of your action
                data: args, // parameters if available
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var string = "com_" + data.id;
                    $("#" + string).html(data.upVotes);

                    var string1 = "button_" + data.id;
                    $("#" + string1).load('@(Url.Action("commentPartialView", "Main",null, Request.Url.Scheme))?commentId=' + data.id);


                },
                error: function (httpRequest, textStatus, errorThrown) {
                    alert("Error");
                }
            });
        });
    })


</script>


