@model BlogProjekt.Models.Post
@using BlogProjekt.KlasyPomocnicze;
@{
    ViewBag.BlogID = Model.BlogsBlog_ID;
    ViewBag.Title = "WyswietlPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-10">

            <div class="card">


                <div class="card-header" , style="background-color: #343a40; color: #ffffff">
                    <span style="font-weight: bold">@Model.title </span>
                    <div style="font-size: small; float:right">
                        Dodany: @Model.dataStworzenia.ToString("dd.MM.yyyyr.")
                    </div>
                </div>

                <div class="text-center">
                    @if (!Model.img_route.Equals("htttp?"))
                    {
                        <img src="@Model.img_route" alt="Alternate Text" style=" width:90%;margin-bottom:20px;" />
                    }

                </div>

                <div class="card-body">
                    @Model.text_content
                </div>

                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-11">
                        @foreach (var tag in Model.Tags)
                        {
                            <span class="badge badge-pill badge-primary">#@tag.tagName</span>
                        }
                    </div>

                    <div class="col">

                    </div>

                </div>

                </br>

            </div>

            <br />

            <div class="container">
                <h2>Komentarze: </h2>
                @if (Request.IsAuthenticated)
                {

                    <div class="form-group">
                        <textarea class="form-control" data-post-id="@Model.Post_ID" id="commentTextArea" rows="3"></textarea>
                    </div>
                    <button id="commentSubmitButton" type="button" class="btn btn-primary" style="float:right">Dodaj</button>
                }
                else
                {
                    <a href=@Url.Action("LogIn","Authorization")>
                        Zaloguj się aby dodać komentarz
                    </a>
                }
            </div>

            </br>
            </br>
            </br>

            <div id="comments1">
                @Html.Partial("commentListPartial", Model)
            </div>



        </div>

        <div class="col-sm-1">

        </div>



    </div>

</div>

<script>
    $(function () {
        $('body').on("click", ".upVoteButton", function () {
            var $button = $(this);
            var href = '@Url.Action("komentarzUpVote","Main")';
            var args = {
                userName: $(this).data('user-name'),
                commentID: $(this).data('comment-id')
            };

            $.ajax({
                type: "GET",
                url: href, // url of your action
                data: args, // parameters if available
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var string = "com_" + data.id;
                    $("#" + string).html(data.upVotes);

                    var string1 = "button_" + data.id;
                    $("#" + string1).load('@(Url.Action("commentPartialView", "Main",null, Request.Url.Scheme))?commentId=' + data.id);


                },
                error: function (httpRequest, textStatus, errorThrown) {
                    alert("Error");
                }
            });
        });

        $('body').on("click", ".downVoteButton", function () {
            var $button = $(this);
            var href = '@Url.Action("komentarzDownVote","Main")';
            var args = {
                userName: $(this).data('user-name'),
                commentID: $(this).data('comment-id')
            };

            $.ajax({
                type: "GET",
                url: href, // url of your action
                data: args, // parameters if available
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var string = "com_" + data.id;
                    $("#" + string).html(data.upVotes);

                    var string1 = "button_" + data.id;
                    $("#" + string1).load('@(Url.Action("commentPartialView", "Main",null, Request.Url.Scheme))?commentId=' + data.id);


                },
                error: function (httpRequest, textStatus, errorThrown) {
                    alert("Error");
                }
            });
        });

        $('body').on("click", "#commentSubmitButton", function () {

            var commentContent = $('#commentTextArea').val();
            var postid = $("#commentTextArea").data('post-id');

            if (commentContent == '')
            {
                alert("Komentarz nie może być pusty");
                return false;
            }

            var href = '@Url.Action("StworzKomentarzJava","Main")';
            var args = {
                id: postid,
                content: commentContent
            }

             $.ajax({
                type: "GET",
                url: href, // url of your action
                data: args, // parameters if available
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                 success: function (data) {     
                     $('#commentTextArea').val('');
                    $("#comments1").load('@(Url.Action("commentListPartialView", "Main",null, Request.Url.Scheme))?postID=' + data.id1);
                   
                },
                error: function (httpRequest, textStatus, errorThrown) {
                    alert("Error");
                }
            });

        });
    })


</script>


