@model BlogProjekt.Models.LogInModel
@{

    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <!--<%= flash[:danger] %>-->
    @Html.ValidationSummary(true)
</div>
<div class="row">
    <div class="col">

    </div>
    <div class="col-md-6 col-md-offset-3">
        <div id="errorMessage">

        </div>
        <h1>Zaloguj</h1>
        @using (Html.BeginForm())
        {<text>



                <div class="form-group">
                    <p>
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "email" } })
                        <!--tu ewentualnie te validate-->
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "password" })
                        <!--tu ewentualnie te validate-->
                    </p>
                </div>
                <div class="form-group">
                    <p>
                        <!--tu ewentualnie recaptcha-->
                    </p>
                </div>

                <input id="submitButton" type="submit" value="Log in" class="btn btn-primary" />


        </text>}
        <p>Nie masz jeszcez konta? <a href=@Url.Action("Register","Authorization")>Zarejestruj się teraz!</a></p>
    </div>

    <div class="col">

    </div>
</div>

<script>
   
        $(document).ready(function () {

            $("#submitButton").click(function (e) {
                var isCorrect = true;

                $("#errorMessage").html('');

                if ($("#email").val() == '') {
                    var errorText = $('<div class="error alert alert-danger" role="alert">Pole email nie może być puste!</div>');
                    $("#errorMessage").append(errorText);
                    isCorrect = false;
                }
                if ($("#password").val() == '') {
                    var errorText = $('<div class="error alert alert-danger" role="alert">Podaj hasło!</div>');
                    $("#errorMessage").append(errorText);
                    isCorrect = false;
                }

                if (!isCorrect) {
                    return false;
                }

            });

    });
</script>
